@model Category
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<br />
<h4>Are you sure to delete @Model.CategoryName?</h4>
<br />
<form method="post" asp-action="Delete">
    @Html.HiddenFor(x=>x.CategoryId)
                
                <input type="submit"  value="Delete" class="btn btn-danger"/>
                <a asp-action="Index" class="btn btn-warning">Cancel</a>

          
</form>

